<!DOCTYPE html>
<html>
	<head>
		<title>CRM Main Menu</title>
	</head>

	<body>
		<h1 id="greeting">Welcome to <%= @crm_name %>!</h1>
		<h2 id="date">Today is: <%= Time.now.day %>/<%= Time.now.month %>/<%= Time.now.year %></h2>
		<h3>Main menu</h3>
		<p>What would you like to do?</p>
		<ul id="main">
		  <li><a href="/contacts/new">Add New Contact</a></li>
		  <li><a href="/contacts">View All Contacts</a></li>
		  <li><a href="/modify">Modify a Contact</a></li>
		  <li><a href="/delete">Delete a Contact</a></li>
		  <li><a href="/display">Display a Contact</a></li>
		  <li><a href="/contacts_attrib">Display Contacts by Attribute</a></li>
		</ul>
	</body>
</html>